In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')

In [3]:
df.sample(5)

    age  gender review education purchased
3    72  Female   Good        PG        No
6    18    Male   Good    School        No
11   74    Male   Good        UG       Yes
31   22  Female   Poor    School       Yes
28   48    Male   Poor    School        No

In [4]:
df = df.iloc[:,2:]

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_text, y_train,y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [15]:
X_train

     review education
4   Average        UG
31     Poor    School
14     Poor        PG
43     Poor        PG
24  Average        PG
35     Poor    School
23     Good    School
26     Poor        PG
30  Average        UG
33     Good        PG
21  Average        PG
41     Good        PG
34  Average    School
49     Good        UG
27     Poor        PG
1      Poor        UG
38     Good    School
12     Poor    School
0   Average    School
7      Poor    School
40     Good    School
11     Good        UG
42     Good        PG
19     Poor        PG
47     Good        PG
6      Good    School
29  Average        UG
22     Poor        PG
2      Good        PG
10     Good        UG
15     Poor        UG
25     Good    School
3      Good        PG
17     Poor        UG
37  Average        PG
32  Average        UG
20  Average    School
45     Poor        PG
28     Poor    School
13  Average    School

In [16]:
from sklearn.preprocessing import OrdinalEncoder

In [12]:
X_train

     review education
5   Average    School
20  Average    School
7      Poor    School
31     Poor    School
48     Good        UG
33     Good        PG
45     Poor        PG
36     Good        UG
42     Good        PG
18     Good    School
23     Good    School
14     Poor        PG
1      Poor        UG
43     Poor        PG
26     Poor        PG
41     Good        PG
49     Good        UG
24  Average        PG
21  Average        PG
34  Average    School
25     Good    School
40     Good    School
44  Average        UG
39     Poor        PG
32  Average        UG
15     Poor        UG
16     Poor        UG
27     Poor        PG
2      Good        PG
22     Poor        PG
35     Poor    School
46     Poor        PG
6      Good    School
3      Good        PG
11     Good        UG
19     Poor        PG
9      Good        UG
12     Poor    School
29  Average        UG
47     Good        PG

In [17]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [19]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [20]:
X_train = oe.transform(X_train)

In [21]:
X_train

array([[1., 1.],
       [0., 0.],
       [0., 2.],
       [0., 2.],
       [1., 2.],
       [0., 0.],
       [2., 0.],
       [0., 2.],
       [1., 1.],
       [2., 2.],
       [1., 2.],
       [2., 2.],
       [1., 0.],
       [2., 1.],
       [0., 2.],
       [0., 1.],
       [2., 0.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [2., 0.],
       [2., 1.],
       [2., 2.],
       [0., 2.],
       [2., 2.],
       [2., 0.],
       [1., 1.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [0., 1.],
       [2., 0.],
       [2., 2.],
       [0., 1.],
       [1., 2.],
       [1., 1.],
       [1., 0.],
       [0., 2.],
       [0., 0.],
       [1., 0.]])

In [23]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [24]:
X_train

array([[1., 1.],
       [0., 0.],
       [0., 2.],
       [0., 2.],
       [1., 2.],
       [0., 0.],
       [2., 0.],
       [0., 2.],
       [1., 1.],
       [2., 2.],
       [1., 2.],
       [2., 2.],
       [1., 0.],
       [2., 1.],
       [0., 2.],
       [0., 1.],
       [2., 0.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [2., 0.],
       [2., 1.],
       [2., 2.],
       [0., 2.],
       [2., 2.],
       [2., 0.],
       [1., 1.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [0., 1.],
       [2., 0.],
       [2., 2.],
       [0., 1.],
       [1., 2.],
       [1., 1.],
       [1., 0.],
       [0., 2.],
       [0., 0.],
       [1., 0.]])

In [25]:
from sklearn.preprocessing import LabelEncoder

In [26]:
le = LabelEncoder()

In [27]:
le.fit(y_train)

LabelEncoder()

In [28]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [29]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [30]:
y_train

array([0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0])